/* ==============
Custom properties
=============== */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 195 50% 95%;

  /* todo: color grades: 700, 600, 500, 400, 300, 200  */

  /* font-sizes */
  --fs-700: 2.25rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* todo: media query min-width: 35 em */
/* todo: media query min-wisth: 45em */

/* ==============
Rests
=============== */

/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

/* set up the body */
body {
  line-height: 1.5;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));

  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}
