/* ==============
Custom properties
=============== */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 195 50% 95%;

  /* todo: color grades: 700, 600, 500, 400, 300, 200  */

  /* font-sizes */
  --fs-700: 2.25rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* todo: media query min-width: 35 em */
/* todo: media query min-wisth: 45em */

/* ==============
Rests
=============== */

/* box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

/* set up the body */
body {
  line-height: 1.5;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));

  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* remove animations for folks who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==============
Utility classes
=============== */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}
.container {
  padding-inline: 2em 0;
  margin: 0 auto;
  /* max-width: 80rem; */
}

/* todo: row-odd */
/* todo: row-even */

.hidden {
  display: none;
}

/* colors */

/* todo: add color grades using variable in root: 700, 600, 500, 400, 300, 200 */

/* typography */

/* todo: add font-family classes using variables in root */

.uppercasae {
  text-transform: uppercase;
}

/* todo: add font sizes using variables in root */
